.container {
	width: 960px;
	margin: 0 auto;
}

.taglist {
	margin-top: 20px;
}

.taglist a {
   color: #000080; 
    text-decoration: none; 
    border-bottom: 1px dashed #000080; 
}
.taglist a:hover {
		color: #8282C1;
      border-bottom: none;

}

.taglink {
	margin: 20px auto;
}

.taglink [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.taglink [data-role="remove"]:after {
	color: #DCDCDC;
  content: "x";
  padding: 0px 2px;
}
.taglink [data-role="remove"]:hover:after {
  color: #FFFF00;
  content: "x";
  padding: 0px 2px;
}

}
.taglink [data-role="remove"]:hover {
	
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.taglink [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

