.underlay {
	
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	-moz-opacity:0.5;
	opacity:.50;
	filter:alpha(opacity=50);
	z-index = 10;
}
 
.lightbox{
	display:none;
}
 
.zoom_img {
	width: 50%;
	height: auto;
	margin: auto;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index = 100;
}

.zoom_btn {
	position: fixed;
	cursor: pointer;
	z-index = 999;
}
