.justSlider {
	width: 1024px;
	margin: 0 auto;
	}

	
.controlsNav  {
	margin: 0; 
	padding: 0;
	float: left;
	list-style: none;
	width: 112px;
	border: #D3D3D3 1px solid; 
	}

.controlsNav li { 
	display: block;
	width: 100%;
	height: 84px; 
	margin: 0 0 0 0;
	border: #D3D3D3 1px solid; 
	background: #F5F5F5;
	}

.controlsNav .selected {
	background: #F87100;
	}
			
.controlsNav .selected:after {
	position:relative;
	content: url(../img/nav-arrow.png);
	float: right;
	margin: 28px -15px 0 0;
	z-index: 999;
}
		
.containerImg {
	float: right;
	overflow: hidden; 
	position: relative; 
	width: 910px;
	}

.sliderImg {
	position: relative; 
	width: 9999px;
	margin: 0;
	padding: 0; 
	list-style: none;
}	

.sliderImg li {
	display: block;
	float: left;
	}		
